/* Common Styles */
body {
    font-family: Arial, sans-serif;
}

.container-fluid {
    padding: 0;
}

/* Specific Styles for Index Page */
#index-page {
    background-image: url('../data/img/index_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.index-text-center {
    position: absolute;
    top: 50%; /* Adjust top positioning as needed */
    left: 50%; /* Adjust left positioning as needed */
    transform: translate(-50%, -50%); /* Center the text vertically and horizontally */
    text-align: center; /* Align the text center */
    color: white; /* Set text color */
}

.index-text-center h1 {
    font-size: 50px; /* Adjust font size as needed */
    margin-bottom: 60px; /* Adjust spacing between text elements */
    font-weight: bold;
}

.index-text-center p {
    font-size: 18px; /* Adjust font size as needed */
}

#index-start-button {
    margin-top: 80px;
}

/* Specific Styles for Introduction Page */
#introduction-page {
    background-color: #03002F;
}

#introduction-text {
    color: #f8f9fa;
}

#introduction-text h1 {
    margin: 20px;
    font-weight: bold;
    text-align: center;
    color: #f8f9fa;
}

#introduction-text h2 {
    margin: 20px;
    font-weight: bold;
    text-align: left;
    color: #f8f9fa;
}

#introduction-text p.desc1 {
    text-align: center;
    color: #f8f9fa;
}

#introduction-text p {
    text-align: left;
    color: #f8f9fa;
}

#journal-bin-button {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* Specific Styles for Journal Page */
#journal-page {
    background-color: #03002F;
}

#journal-text {
    color: #f8f9fa;
}

#journal-text h1 {
    margin: 20px;
    font-weight: bold;
    text-align: center;
    color: #f8f9fa;
}

#journal-text h2 {
    margin: 20px;
    font-weight: bold;
    text-align: left;
    color: #f8f9fa;
}

#journal-text p {
    text-align: left;
    color: #f8f9fa;
}

.journal-chart {
    font: 10px sans-serif;
    width: 100%;
}
.bar {
    fill: rgb(148, 192, 227);
}
.bar:hover {
    fill: orange;
}
.axis {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.legend {
    font-size: 12px;
    display: inline-block;
    padding: 6px;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}


/* Specific Styles for Topic Page */
#topic-page {
    background-color: #03002F;
}

.chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
}

.topic-chart1-container,
.topic-chart2-container {
    width: 100%;
    height: 400px;
}


#topic-text {
    color: #f8f9fa;
}

#topic-text h1 {
    margin: 20px;
    font-weight: bold;
    text-align: center;
    color: #f8f9fa;
}

#topic-text h2 {
    margin: 20px;
    font-weight: bold;
    text-align: left;
    color: #f8f9fa;
}

#topic-text p {
    text-align: left;
    color: #f8f9fa;
}

/* Specific Styles for Map Page */
#map-page {
    background-color: #03002F;
}

#map-text {
    color: #f8f9fa;
}

#map-text h1 {
    margin: 20px;
    font-weight: bold;
    text-align: center;
    color: #f8f9fa;
}

#map-text h2 {
    margin: 20px;
    font-weight: bold;
    text-align: left;
    color: #f8f9fa;
}

#map-text p {
    text-align: left;
    color: #f8f9fa;
}

#map-chart {
    width: 100%;
    height: 600px;
}

.end-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Specific Styles for End Page */
#end-page {
    background-image: url('../data/img/index_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.end-text-center {
    position: absolute;
    top: 50%; /* Adjust top positioning as needed */
    left: 50%; /* Adjust left positioning as needed */
    transform: translate(-50%, -50%); /* Center the text vertically and horizontally */
    text-align: center; /* Align the text center */
    color: white; /* Set text color */
}

.end-text-center h1 {
    font-size: 50px; /* Adjust font size as needed */
    font-weight: bold;
}

.end-text-center p {
    margin:20px;
    font-size: 14px; /* Adjust font size as needed */
    text-align: justify-left;
}

#end-start-button {
    margin:10px;
}